.second-header img {
    width: 250px;
}
body {
    margin: 0;
    background-image: url('images/1335287.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.article {
    padding: 1.5rem;
    background-color: rgb(218, 201, 222);
    border-radius: 40px;
    margin: 15px 0 20px 500px;
    max-width: 600px;
    font-size: small;
    font-style: oblique;
}
.article img {
    max-width: 400px;
    height: auto;
    width: 100%;
    margin: 15px 0 20px 95px;
    border-radius: 20px;
}
.article-two {
    border-radius: 40px;
    padding: 20px;
    text-align: left;
    background-color: rgb(218, 201, 222);
    margin: 20px auto 20px 50px;
    max-width: 600px;
    font-size: small;
    font-style: oblique;
}
.article-two img {
    max-width: 400%;
    width: 100%;
    height: auto;
    margin: 20px auto 20px 95px;
    border-radius: 20px;
}
@media (min-width: 768px) {
    .article-two img,
    .article img {
        max-width: 350px; 
    }
       
}
@media (max-width: 768px) {
    .article,
    .article-two {
        width: 90%;          
        max-width: 450px;     
        margin: 15px auto;    
        box-sizing: border-box;
    }
    .article img {
        margin: 20px auto 20px 0;
    }
    .article-two img {
        margin: 20px auto 20px 0;
    }
}
.back-to-top-container {
    text-align: center; 
    margin: 40px 0; 
}
.back-to-top {
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(182, 211, 237);
    padding: 10px 20px;
    border-radius: 12px;
    display: inline-block;
    box-shadow: 0 4px 6px;
    color: #000;
}
.back-to-top:hover {
    background-color: rgb(150, 190, 225);
}
.footer {
    text-align: center;
    background-color: rgb(182, 211, 237);
    border-radius: 20px;
}